
<div>
    <h2><span translate="cdmApp.task.detail.title">Task</span> {{vm.task.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.task.description">Description</span></dt>
        <dd>
            <span>{{vm.task.description}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.task.taskCategory">TaskCategory</span></dt>
        <dd>
            <span>{{vm.task.taskCategory}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.task.plannedStartTime">plannedStartTime</span></dt>
        <dd>
            <span>{{vm.task.plannedStartTime}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.task.plannedEndTime">plannedEndTime</span></dt>
        <dd>
            <span>{{vm.task.plannedEndTime}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.task.actualStartTime">actualStartTime</span></dt>
        <dd>
            <span>{{vm.task.actualStartTime}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.task.actualEndTime">actualEndTime</span></dt>
        <dd>
            <span>{{vm.task.actualEndTime}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.task.accountFamily.id">AccountFamily Id</span></dt>
        <dd>
            <span>{{vm.task.accountFamily.id}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.task.accountFamily.name">AccountFamily Name</span></dt>
        <dd>
            <span>{{vm.task.accountFamily.name}}</span>
        </dd>
    </dl>
    <div ng-repeat="nText in vm.task.nTexts">
        <dl class="dl-horizontal jh-entity-details">
            <dt><span translate="cdmApp.task.nText.text">nText text</span></dt>
            <dd>
                <span>{{nText.text}}</span>
            </dd>
        </dl>
    </div>
    <div ng-repeat="nPhoto in vm.task.nPhotos">
        <dl class="dl-horizontal jh-entity-details">
            <dt><span translate="cdmApp.task.nPhoto.urlString">nPhoto urlString</span></dt>
            <dd>
                <span>{{nPhoto.urlString}}</span>
            </dd>
        </dl>
    </div>
    <div ng-repeat="nAudio in vm.task.nAudios">
        <dl class="dl-horizontal jh-entity-details">
            <dt><span translate="cdmApp.task.nAudio.urlString">nAudio audioURLString</span></dt>
            <dd>
                <span>{{nAudio.audioURLString}}</span>
            </dd>
        </dl>
    </div>
    <div ng-repeat="jText in vm.task.jTexts">
        <dl class="dl-horizontal jh-entity-details">
            <dt><span translate="cdmApp.task.jText.text">jText text</span></dt>
            <dd>
                <span>{{jText.text}}</span>
            </dd>
        </dl>
    </div>
    <div ng-repeat="jPhoto in vm.task.jPhotos">
        <dl class="dl-horizontal jh-entity-details">
            <dt><span translate="cdmApp.task.jPhoto.urlString">jPhoto urlString</span></dt>
            <dd>
                <span>{{jPhoto.urlString}}</span>
            </dd>
        </dl>
    </div>
    <div ng-repeat="jAudio in vm.task.jAudios">
        <dl class="dl-horizontal jh-entity-details">
            <dt><span translate="cdmApp.task.jAudio.urlString">jAudio urlString</span></dt>
            <dd>
                <span>{{jAudio.audioURLString}}</span>
            </dd>
        </dl>
    </div>
    <div ng-repeat="jVideo in vm.task.jVideos">
        <dl class="dl-horizontal jh-entity-details">
            <dt><span translate="cdmApp.task.jVideo.urlString">jVideo urlString</span></dt>
            <dd>
                <span>{{jVideo.urlString}}</span>
            </dd>
        </dl>
        <dl class="dl-horizontal jh-entity-details">
            <dt><span translate="cdmApp.task.jVideo.thumbnailURLString">jVideo thumbnailURLString</span></dt>
            <dd>
                <span>{{jVideo.thumbnailURLString}}</span>
            </dd>
        </dl>
    </div>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
