<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel" translate="userManagement.home.createOrEditLabel">
            Create or edit a User</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label translate="userManagement.login">login</label>
            <input type="text" class="form-control" name="login"
                   ng-model="vm.userDTO.login" readonly>
        </div>

        <!--<div class="form-group">
            <h2><span translate="userManagement.detail.title">User</span> "{{vm.user.login}}"</h2>
        </div>-->
        <!--<div class="form-group">
                   <label for="field_file" class="required">photo</label>
                   <input type="file" name="photoFile" id="field_file" file-model="photoFile"  required>
               </div>-->
        <div class="form-group">
            <img ngf-src="vm.userDTO.file" class="img-responsive" style="width:200px; height: 200px; max-width:500px;"/>
        </div>
        <div class="form-group">
            <input type="file" ngf-select="" ngf-pattern="'image/*'" ngf-multiple="false" ng-model="vm.userDTO.file"/>
        </div>
    </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
