<div class="container pa-working-space" ng-cloak>
    <h1 class="pa-page-subtitle">New Family Account</h1>

    <div class="alert alert-danger" ng-show="error">
                Please enter the name of the deceased.
            </div>
        <div class="alert alert-danger" ng-show="Spouseerror">
            Please select the relationship of the Spouse/Partner in Step 2.
        </div>
        <div class="alert alert-danger" ng-show="childerror">
            Please select the r elationship of the living child in Step 2.
        </div>
        <div class="alert alert-danger" ng-show="signerror">
            Please select the relationship of the Signatory in Step 3.
        </div>
    <div class="row">
        <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>
            <div class="col-md-8"><!-- main form area -->
                <!-- <div class="white-box"> --><!-- this is usually a table header or form steps -->
                <div id="rootwizard">
                    <div class="margin-bottom-14px">
                        <div class="">
                            <ul class="">

                                <li ><a href data-target="#tab1" data-toggle="tab" class="btn disabled"
                                        ng-click="vm.onTabClick(1)"  ><span>1</span> Family Account Information</a>
                                </li>
                                <li class="disabled"><a href data-target="#tab2" data-toggle="tab" class="btn disabled"
                                        ng-click="vm.onTabClick(2)"><span>2</span>
                                    Children Information</a></li>
                                <li class="disabled"><a href data-target="#tab3" data-toggle="tab" class="btn disabled"
                                        ng-click="vm.onTabClick(3)"><span>3</span>
                                    Guardians</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tab-content pa-container">
                        <div class="tab-pane" id="tab1">
                            <div class="row tab-pane-header">
                                <div class="col-md-12">
                                    <h2 class="form-step-title">Step 1 of 3: Family Account Information</h2>

                                    <p class="form-step-description">Please provide the details of the family account.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate="cdmApp.accountFamily.name" for="field_name">Name</label>
                                <input type="text" class="form-control muted" name="accountFamily_name" id="field_name" required
                                       ng-minlength=1 ng-maxlength=50 ng-model="vm.accountFamily.name" ng-change="vm.passFunction()"
                                    />
                                <div ng-show="form.accountFamily_name.$invalid">
                                    <p class="help-block"
                                       ng-show="form.accountFamily_name.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>

                                    <p class="help-block"
                                       ng-show="form.accountFamily_name.$error.maxlength" translate="entity.validation.maxlength"
                                       translate-value-max="50">
                                        This field cannot be longer than 50 characters.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate="cdmApp.accountFamily.description" for="field_description">Description</label>
                                <input type="text" class="form-control" name="description" id="field_description"
                                       ng-model="vm.accountFamily.description"
                                    />
                            </div>
                        </div>
                        <!-- END TAB 1 -->

                        <div class="tab-pane" id="tab2">
                            <div class="row tab-pane-header">
                                <div class="col-md-12">
                                    <h2 class="form-step-title">Step 2 of 3: Children Information</h2>

                                    <p class="form-step-description">Please provide the details of the child.</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label" translate="cdmApp.accountFamily.child.name">Children Name</label>
                                <input type="text" class="form-control" name="child_name"
                                       ng-model="vm.accountFamily.child.name" ng-maxlength="50"required ng-change="vm.passFunction()">

                                <div ng-show="form.child_name.$invalid">
                                    <p class="help-block"
                                       ng-show="form.child_name.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>

                                    <p class="help-block"
                                       ng-show="form.child_name.$error.maxlength" translate="entity.validation.maxlength"
                                       translate-value-max="50">
                                        This field cannot be longer than 50 characters.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate="cdmApp.accountFamily.child.login">Login</label>
                                <input type="text" class="form-control" name="child_login"
                                       ng-model="vm.accountFamily.child.login" ng-change="vm.passFunction()" required ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

                                <div ng-show="form.child_login.$invalid">
                                    <p class="help-block"
                                       ng-show="form.child_login.$error.required" translate="entity.validation.required">
                                        This field is required.
                                    </p>

                                    <p class="help-block"
                                       ng-show="form.login.$error.maxlength" translate="entity.validation.maxlength"
                                       translate-value-max="50">
                                        This field cannot be longer than 50 characters.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END TAB 2 -->

                        <div class="tab-pane" id="tab3">

                            <div class="row tab-pane-header">
                                <div class="col-md-12">
                                    <h2 class="form-step-title">Step 3 of 3: Guardians</h2>

                                    <p class="form-step-description">Please provide the details of the Guardians.</p>
                                </div>
                            </div>
                            <div ng-repeat="guardianDTO in vm.accountFamily.guardianDTOList">
                                <div class="form-step-section form-group">
                                    <div class="col-md-12">
                                        <h3 class="form-step-section-title" ng-class="{ first : $index == 0 }">
                                            Signatory ({{$index+1}})
                                            <a ng-if="$index != 0" ng-click="vm.removeGuardian($index)"
                                               class="btn btn-danger btn-xs">- Remove</a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label field-title required" translate="cdmApp.accountFamily.guardian.relationship"
                                           for="field_partner_relationship">Relationship
                                        to the deceased</label>
                                    <select class="form-control"
                                            id="field_partner_relationship" name="relationship{{$index}}"
                                            ng-model="guardianDTO.relationship" ng-change="vm.passFunction()" required
                                            ng-options="relationship.name as relationship.name for relationship in vm.relationships"
                                        >
                                        <option value="">Choose relationship</option>
                                    </select>
                                    <div ng-show="form.relationship{{$index}}.$invalid">
                                        <p class="help-block"
                                           ng-show="form.relationship{{$index}}.$error.required" translate="entity.validation.required">
                                            This field is required.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" translate="cdmApp.accountFamily.guardian.name">guardian Name</label>
                                    <input type="text" class="form-control" name="guardian_Name{{$index}}"
                                           ng-model="guardianDTO.name" ng-maxlength="50" ng-change="vm.passFunction()" required>

                                    <div ng-show="form.guardian_Name{{$index}}.$invalid">
                                        <p class="help-block"
                                           ng-show="form.guardian_Name{{$index}}.$error.required" translate="entity.validation.required">
                                            This field is required.
                                        </p>

                                        <p class="help-block"
                                           ng-show="form.guardian_Name{{$index}}.$error.maxlength" translate="entity.validation.maxlength"
                                           translate-value-max="50">
                                            This field cannot be longer than 50 characters.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" translate="cdmApp.accountFamily.guardian.login">Login</label>
                                    <input type="text" class="form-control" name="guardian_login{{$index}}"
                                           ng-model="guardianDTO.login" ng-change="vm.passFunction()" required ng-minlength=1 ng-maxlength=50 ng-pattern="/^[_'.@A-Za-z0-9-]*$/">

                                    <div ng-show="form.guardian_login{{$index}}.$invalid">
                                        <p class="help-block"
                                           ng-show="form.guardian_login{{$index}}.$error.required" translate="entity.validation.required">
                                            This field is required.
                                        </p>

                                        <p class="help-block"
                                           ng-show="form.guardian_login{{$index}}.$error.maxlength" translate="entity.validation.maxlength"
                                           translate-value-max="50">
                                            This field cannot be longer than 50 characters.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group add-btn-group">
                                <div class="col-md-12">
                                    <button type="button" ng-click="vm.addGuardian()" class="btn btn-success">+ Add a guardian</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- END TAB 3 -->
                            <ul class="pager wizard">
                                <li><button type="button" class="btn btn-default pull-left" ng-click="vm.getPreTab()" >{{vm.preLabel}}</button></li>
                                <li><button type="button" class="btn btn-default pull-right" ng-disabled="vm.pass" ng-click="vm.getNextTab()" >{{vm.nextLabel}} <span ng-show="formSaving">
                </span></button></li>
                            </ul>
                        </div>

                    </div><!-- END rootwizard -->

                </div><!-- END col-md-8 -->
                <div class="col-md-3"><!-- side bar -->
                    <div class="row form-side-btn">
                        <div class="col-xs-6">
                            <button type="submit"
                                    class="tour-step-newDeceasedProfile tour-step-twelve btn btn-success btn-block" ng-disabled="form.$invalid || isSaving">Save <span ng-show="formSaving">
                 <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </span>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button type="submit" ui-sref="account-family" class="btn btn-default btn-block">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>




<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover()
    });



</script>
<script>
    $(document).ready(function() {
        $('#rootwizard').bootstrapWizard({tabClass: 'nav nav-pills', onTabShow: function(tab, navigation, index) {
            var $total = navigation.find('li').length;
            var $current = index+1;

            // If it's the last tab then hide the last button and show the finish instead
            if($current >= $total) {
                $('#rootwizard').find('.pager .next').hide();
                $('#rootwizard').find('.pager .save').show();
                $('#rootwizard').find('.pager .save').removeClass('disabled');
            } else {
                $('#rootwizard').find('.pager .next').show();
                $('#rootwizard').find('.pager .save').hide();
            }

        }});

    });
    /*$(document).ready(function() {
        $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills', 'onNext': function(tab, navigation, index) {
                var $valid = $("#form").valid();
                return false;

        }});

    });*/



</script>
