<div>

    <!--<h2><span translate="cdmApp.accountFamily.detail.title">Account Family</span> {{vm.accountFamilyMemberDTO.accountFamily.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="horizontal">
        <dt><span translate="cdmApp.accountFamily.name">Name</span></dt>
        <dd>{{vm.accountFamilyMemberDTO.accountFamily.name}}</dd>
        <dt><span translate="cdmApp.accountFamily.description">Description</span></dt>
        <dd><span>{{vm.accountFamilyMemberDTO.accountFamily.description}}</span></dd>
        <dt><span translate="cdmApp.accountFamily.promiseSequenceNumber">PromiseSequenceNumber</span></dt>
        <dd>{{vm.accountFamilyMemberDTO.accountFamily.promiseSequenceNumber}}</dd>
        <dt><span translate="cdmApp.accountFamily.familyActivitySequenceNumber">FamilyActivitySequenceNumber</span></dt>
        <dd>{{vm.accountFamilyMemberDTO.accountFamily.familyActivitySequenceNumber}}</dd>
        <dt><span translate="cdmApp.accountFamily.student.id">Student Id</span></dt>
        <dd>{{vm.accountFamilyMemberDTO.student.id}}</dd>
        <dt><span translate="cdmApp.accountFamily.student.name">Student Name</span></dt>
        <dd>{{vm.accountFamilyMemberDTO.student.name}}</dd>
        <div ng-repeat="guardian in vm.accountFamilyMemberDTO.guardians">
            <dt><span translate="cdmApp.accountFamily.guardian.id">Guardian id</span></dt>
            <dd>{{guardian.id}}</dd>
            <dt><span translate="cdmApp.accountFamily.guardian.name">Guardian Name</span></dt>
            <dd>{{guardian.name}}</dd>
            <dt><span translate="cdmApp.accountFamily.guardian.relationship">Guardian Relationship</span></dt>
            <dd>{{guardian.relationship}}</dd>
        </div>
        <div ng-repeat="teacher in vm.accountFamilyMemberDTO.teachers">
            <dt><span translate="cdmApp.accountFamily.teacher.id">Teacher id</span></dt>
            <dd>{{teacher.id}}</dd>
            <dt><span translate="cdmApp.accountFamily.teacher.name">Teacher Name</span></dt>
            <dd>{{teacher.name}}</dd>
            <dt><span translate="cdmApp.accountFamily.teacher.name">Teacher Type</span></dt>
            <dd>{{teacher.teacherType}}</dd>
        </div>
    </dl>-->
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.name">Name</span></label>
            <div class="col-sm-6">
                <p class="form-control-static">{{vm.accountFamilyMemberDTO.accountFamily.name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.description">Description</span></label>
            <div class="col-sm-6">
                <p class="form-control-static">{{vm.accountFamilyMemberDTO.accountFamily.description}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.promiseSequenceNumber">PromiseSequenceNumber</span></label>
            <div class="col-sm-6">
                <p class="form-control-static">{{vm.accountFamilyMemberDTO.accountFamily.promiseSequenceNumber}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.familyActivitySequenceNumber">FamilyActivitySequenceNumber</span></label>
            <div class="col-sm-6">
                <p class="form-control-static">{{vm.accountFamilyMemberDTO.accountFamily.familyActivitySequenceNumber}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.child.id">Student Id</span></label>
            <div class="col-sm-6">
                <p class="form-control-static">{{vm.accountFamilyMemberDTO.student.id}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.studentAvatarURL">studentAvatarURL</span></label>
            <div class="col-sm-6">
                <p class="form-control-static">{{vm.accountFamilyMemberDTO.accountFamily.studentAvatarURL}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.child.name">Student Name</span></label>
            <div class="col-sm-6">
                <p class="form-control-static">{{vm.accountFamilyMemberDTO.student.name}}</p>
            </div>
        </div>
        <div ng-repeat="guardian in vm.accountFamilyMemberDTO.guardians">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.guardian.id">Guardian Id</span></label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{guardian.id}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.guardian.name">guardian Name</span></label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{guardian.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.guardian.relationship">Guardian Relationship</span></label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{guardian.relationship}}</p>
                </div>
            </div>
        </div>
        <div ng-repeat="teacher in vm.accountFamilyMemberDTO.teachers">
            <div class="form-group">
                <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.teacher.id">Teacher Id</span></label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{teacher.id}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.teacher.name">Teacher Name</span></label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{teacher.name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label"><span translate="cdmApp.accountFamily.teacher.type">Teacher Type</span></label>
                <div class="col-sm-6">
                    <p class="form-control-static">{{teacher.teacherType}}</p>
                </div>
            </div>
        </div>
    </form>
    <!--<table class="table table-striped">
        <tr><td><span translate="cdmApp.accountFamily.name">Name</span></td>
            <td>{{vm.accountFamilyMemberDTO.accountFamily.name}}</td>
        </tr>
        <tr><td><span translate="cdmApp.accountFamily.description">Description</span></td>
            <td>{{vm.accountFamilyMemberDTO.accountFamily.description}}</td>
        </tr>
        <tr><td><span translate="cdmApp.accountFamily.promiseSequenceNumber">PromiseSequenceNumber</span></td>
            <td>{{vm.accountFamilyMemberDTO.accountFamily.promiseSequenceNumber}}</td>
        </tr>
        <tr><td><span translate="cdmApp.accountFamily.familyActivitySequenceNumber">FamilyActivitySequenceNumber</span></td>
            <td>{{vm.accountFamilyMemberDTO.accountFamily.familyActivitySequenceNumber}}</td>
        </tr>
        <tr><td><span translate="cdmApp.accountFamily.student.id">Student Id</span></td>
            <td>{{vm.accountFamilyMemberDTO.student.id}}</td>
        </tr>
        <tr><td><span translate="cdmApp.accountFamily.student.name">Student Name</span></td>
            <td>{{vm.accountFamilyMemberDTO.student.name}}</td>
        </tr>
        <div ng-repeat="guardian in vm.accountFamilyMemberDTO.guardians">
            <tr>
                <td><span translate="cdmApp.accountFamily.guardian.id">Guardian id</span></td>
                <td>{{guardian.id}}</td>
            </tr>
            <tr>
                <td><span translate="cdmApp.accountFamily.guardian.name">Guardian Name</span></td>
                <td>{{guardian.name}}</td>
            </tr>
            <tr>
                <td><span translate="cdmApp.accountFamily.guardian.id">Guardian relationship</span></td>
                <td>{{guardian.relationship}}</td>
            </tr>
        </div>
        <div ng-repeat="teacher in vm.accountFamilyMemberDTO.teachers">
            <tr>
                <td><span translate="cdmApp.accountFamily.teacher.id">teacher id</span></td>
                <td>{{teacher.id}}</td>
            </tr>
            <tr>
                <td><span translate="cdmApp.accountFamily.teacher.name">teacher Name</span></td>
                <td>{{teacher.name}}</td>
            </tr>
        </div>
    </table>-->

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
