
<div>
    <h2><span translate="cdmApp.teacher.detail.title">Teacher</span> {{vm.teacher.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.teacher.name">Name</span></dt>
        <dd>
            <span>{{vm.teacher.name}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
