
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTeacherLabel" translate="cdmApp.teacher.home.createOrEditLabel">Create or edit a Teacher</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.teacher.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.teacher.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="cdmApp.teacher.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="teacher_name" id="field_name" required
                   ng-minlength=1 ng-maxlength=50 ng-model="vm.teacher.name"
                     />
            <div ng-show="editForm.teacher_name.$invalid">
                <p class="help-block"
                   ng-show="editForm.teacher_name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>

                <p class="help-block"
                   ng-show="editForm.teacher_name.$error.maxlength" translate="entity.validation.maxlength"
                   translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
                <label class="control-label field-title">Select the type of teacher :</label>

                <div class="radio">
                    <label>
                        <input id="teacherType1" type="radio"
                               ng-model="vm.teacher.teacherType" ng-value="0">
                        0
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="teacherType2" type="radio"
                               ng-model="vm.teacher.teacherType" ng-value="1">
                        1
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="teacherType3" type="radio"
                               ng-model="vm.teacher.teacherType" ng-value="2">
                        2
                    </label>
                </div>
            <div class="radio">
                <label>
                    <input id="teacherType4" type="radio"
                           ng-model="vm.teacher.teacherType" ng-value="3">
                    3
                </label>
            </div>
            <div class="radio">
                <label>
                    <input id="teacherType5" type="radio"
                           ng-model="vm.teacher.teacherType" ng-value="4">
                    4
                </label>
            </div>
            <!-- Show warning if any two options are selected at the same time -->
        </div>
        <div class="form-group">
            <label translate="cdmApp.teacher.accountFamilies">AccountFamilies</label>
            <select class="form-control" multiple name="authority" ng-model="vm.teacher.accountFamilies"
                     ng-options="accountFamily as accountFamily.name for accountFamily in vm.accountFamilies">
            </select>
        </div>
        <!--<div class="form-group">
            <div ng-repeat="accountFamily in vm.accountFamilies">
                <div class="radio">
                    <label>
                        <input type="checkbox" name="accountFamily_name_{{accountFamily.id}}" id="accountFamily_id_{{accountFamily.id}}"
                               value="{{accountFamily.id}}"
                               ng-model="vm.teacher.accountFamilies">
                        {{accountFamily.name}}
                    </label>
                </div>
            </div>
        </div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
