
<div>
    <h2><span translate="cdmApp.guardian.detail.title">Guardian</span> {{vm.guardian.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.guardian.name">Name</span></dt>
        <dd>
            <span>{{vm.guardian.name}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.guardian.relationship">Relationship</span></dt>
        <dd>
            <span>{{vm.guardian.relationship}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.guardian.accountFamily.id">AccountFamily Id</span></dt>
        <dd>
            <span>{{vm.guardian.accountFamily.id}}</span>
        </dd>
    </dl>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="cdmApp.guardian.accountFamily.name">AccountFamily Name</span></dt>
        <dd>
            <span>{{vm.guardian.accountFamily.name}}</span>
        </dd>
    </dl>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
